<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.min.css">
</head>
<body>
  <div class="container" style="width: 500px">
    <div class="card text-center">
      <div class="card-body">
        <h1 class="card-title">What is gh-forker?</h1>
        <p class="card-text">
          This is a silly little exercise that asks you to log into github
          and then forks it's own repo into your account. It's sort of like
          a virus, but one you choose to get.
        </p>

    {% if not user %}
        <p class="card-text">
          You will need to login to Github below to fork gh-forker.
        </p>
        <a class="btn btn-primary btn-social btn-github" href="/login">
          <i class="fa fa-github"></i> Sign in with Github
        </a>
    {% else %}
        <p class="card-text">
          Welcome <a href="{{ user["profile"] }}">{{ user["preferred_username"] }}</a>.
        </p>

        {% if msg %}
        <p class="card-text alert alert-info" role="alert">{{ msg }}</p>
        {% elif already_forked %}
        <p class="card-text alert alert-warning" role="alert">
          gh-forker already exists in your account. You will need to delete it if you want to
          fork it again.
        </p>
        {% endif %}

        {% if not already_forked %}
        <a class="btn btn-primary" href="/fork">
          <i class="fas fa-code-branch"></i> Fork gh-forker
        </a>
        {% endif %}
        &nbsp;
        <a class="btn btn-primary" href="/logout">
          <i class="fas fa-sign-out"></i> Sign out of Github
        </a>
    {% endif %}
      </div>
    </div>
  </div>
</body>
</html>
